@using System.Linq
@using Microsoft.AspNetCore.Identity
@model WebShop_raupjc.Models.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Prijava";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Ime"></label>
                    <input asp-for="Ime" class="form-control"/>
                    <span asp-validation-for="Ime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lozinka"></label>
                    <input asp-for="Lozinka" class="form-control"/>
                    <span asp-validation-for="Lozinka" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe"/>
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Prijava</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Zaboravio sam lozinku</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="Product/List">Registriraj me kao novog korisnika</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Prijavi se preko Facebooka.</h4>
            <hr />
            @{var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            Došlo je do greške u prijavljivanju preko Facebooka.
                        </p>
                    </div>}
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name prijava</button>
                                }
                            </p>
                        </div>
                    </form>}
            }
        </section>
    </div>
</div>
        
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


